
<%= form_for(@personne) do |f| %>
<table border=0>
  <% if @personne.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personne.errors.count, "error") %> prohibited this personne from being saved:</h2>

      <ul>
      <% @personne.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<tr><td>
<label for="personne_Nom">Nom:</label></td>
<td><%= text_field "personne", "Nom", :size => 20 %><br/></td></tr>
<tr><td>
<label for="personne_prenom">Prénom:</label></td>
<td><%= text_field "personne", "prenom", :size => 20 %><br/></td></tr>
<tr>
<td> <label for="personne_id_fonction">Fonction:</label></td>
<td>
<%=  select("personne", "id_fonction", Fonction.all.collect {|p| [ p.nom_fonction, p.id ] })%><br/>
</td></tr>
<tr><td>
<label for="personne_login">Login:</label></td>
<td><%= text_field "personne", "login", :size => 20 %><br/></td></tr>
<tr><td>
<tr><td>
<label for="personne_pass">Mot de passe:</label></td>
<td><%= text_field "personne", "pass", :size => 20 %><br/></td></tr>
<tr><td><label for="personne_autor">Autorisation:</label></td><td><%= text_field "personne", "autor", :size => 20 %></td></tr>
<tr><td><label for="personne_num_licence_mec">N° licence mec :</label></td><td><%= text_field "personne", "num_licence_mec", :size => 20 %></td></tr>
<tr><td><label for="validité licence">validité :</label></td><td> <%= f.text_field  "date_val_lic",{:value=>@date_1, :class =>"date_saisie",:size => 10}%></td></tr>
<tr><td><%= label_tag(:pil_prop, "Pilote propriétaire ") %></td><td><%= check_box "personne","pil_prop"%></td></tr>
<tr><td>
 <div class="actions">
    <%=  f.submit(:value=>'sauver') %>
  </div>
  </td></tr>
  </table>
<% end %>
