<h1>Applications des CN </h1>
<% typ="" %>
<% mach=""%>
<br><%= link_to "saisie d'une application de CN", new_exec_cn_machine_path %></br>
<% @exec_cn_machines.each do |exec_cn_machine| %>
	<% if (typ!=exec_cn_machine.machine.Immatriculation+exec_cn_machine.cn_machine.nom) then %>
	<% if typ!="" then %> </table>  <%end %>
	<%typ=exec_cn_machine.machine.Immatriculation+exec_cn_machine.cn_machine.nom%>
	<% if (mach!= exec_cn_machine.machine.Immatriculation) then %>
		<% mach=exec_cn_machine.machine.Immatriculation %>
		<h3><%= exec_cn_machine.machine.type_machine.type_machine%> <%= exec_cn_machine.machine.Immatriculation%> </h3>
	<% end %>
	<h4><%= exec_cn_machine.cn_machine.nom %></h4>
	<table border=1 width= 40% >
	  <tr>
		<th width= 15%>Numéro BS</th>
		<th width= 10%>date execution</th>
		<th width= 10%>Potentiel à execution</th>
		<th width= 10%>CN applicable</th>
		<th width= 5%>Mod</th>
		<th width= 5%>Supp</th>
	  </tr>
	<%end%>
  <tr>
    <td><%= exec_cn_machine.cn_machine.service_bulletin %></td>
    <td><%= link_to exec_cn_machine.date_exec.strftime('%d/%m/%Y'),exec_cn_machine %></td>
    <td>
    <%= if ( exec_cn_machine.non_applicable or exec_cn_machine.cn_machine.type_potentiel.type_potentiel=="Une fois" or exec_cn_machine.cn_machine.type_potentiel.type_potentiel=="Calendaire") then " " else 
		pres_val(exec_cn_machine.val_potentiel_exec,exec_cn_machine.cn_machine.type_potentiel.type_potentiel) + " "+exec_cn_machine.cn_machine.type_potentiel.unitee 
		end%>
    </td>
    <td align="center"><%= if (!exec_cn_machine.non_applicable) then image_tag "case_a_cocher.gif" else image_tag "case_cocher_vide.jpg" end %></td>
    <td><%= mod_link edit_exec_cn_machine_path(exec_cn_machine) %></td>
    <td><%= del_link exec_cn_machine %></td>
  </tr>
<% end %>
</table>