<h1>modifier un type d'équipement</h1>

<%= render 'form' %>

<%= link_to 'Détail', @type_equipement %> |
<%= link_to "Retour à la liste des type d'équipement", type_equipements_path %>

<div style="border-style: none;width:40%;">
<h2>documents</h2>
<h3>Manuel de maintenance</h3>
	<%= render  partial: 'doc_divers/aff_doc', locals: {docs: @mm_docs}%>
</div>
<p></p>
<div style="border-style: solid;width:40%;">
<h3>Ajouter un document</h3>
	<%= render partial: 'doc_divers/form', locals:{retour: "type_equipements"} %>
</div>
