<h1>liste des pages de l'application</h1>

<table border=1>
  <tr>
	<th>Menu</th>
	<th>Page</th>
	<th>Adresse</th>
	<th>Fonction</th>
	<th>&nbsp;</th>
  </tr>

<% @page_acces.each do |page_acce| %>
  <tr>
    <td><%= link_to page_acce.menu_item.Nom,page_acce %></td>
    <td><%= page_acce.Nom %></td>
    <td><%= page_acce.adresse %></td>
    <td>
    <% page_acce.est_acce.each do |est_acce| %>
    <%= est_acce.fonction.nom_fonction %>
    <%end%>
    </td>
    <td><%= mod_link edit_page_acce_path(page_acce) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'nouvelle Page', new_page_acce_path %>