<h1>Page :<%= @page_acce.Nom %></h1>
<h2>Menu :<%= @page_acce.menu_item.Nom%></h2>

<table border=1>
<tr>
	<th>Nom Fonction</th>
	<th>Consultation</th>
	<th>Modification</th>
	<th>Création</th>
	<th>Suppression</th>
	<th>&nbsp;</th>
</tr>

<% @page_acce.est_acce.each do |est_acce| %>
<tr>
	<td><%= est_acce.fonction.nom_fonction %></td>
	<td><%= if (est_acce.page_consult) then image_tag "case_a_cocher.gif" else  image_tag "case_cocher_vide.jpg" end %></td>
	<td><%= if (est_acce.page_modif) then image_tag "case_a_cocher.gif" else  image_tag"case_cocher_vide.jpg" end %></td>
	<td><%= if (est_acce.page_new) then image_tag "case_a_cocher.gif" else  image_tag "case_cocher_vide.jpg" end %></td>
	<td><%= if (est_acce.page_suppr) then image_tag "case_a_cocher.gif" else image_tag "case_cocher_vide.jpg" end %></td>
	<td><%= mod_link edit_page_acce_path(@page_acce)%></td>
</tr>
<%end %>

</table>
<%= link_to 'modifier', edit_page_acce_path(@page_acce) %> |
<%= link_to 'retour à la liste', page_acces_path %>