<table border=1>
  <tr>
	<td>Equipement</td>
	<td>CN</td>
	<td>Numéro BS</td>
	<td>Date exécution</td>
	<td>Valide</td>
	<td>Potentiel à execution</td>
	<td>Commentaires</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
  </tr>


  <tr>
    <% if(@exec_cn_equipement.non_applicable) then police="text-decoration: line-through;" else police="" end %>
    <td style='<%= police %>'><%= @exec_cn_equipement.equipement.num_serie   %></td>
    <td><%= @exec_cn_equipement.cn_equipement.nom  %></td>
    <td><%= @exec_cn_equipement.cn_equipement.service_bulletin %></td>
    <td><%= @exec_cn_equipement.date_exec.strftime('%d/%m/%Y') %></td>
    <td align="center"><%= if (!@exec_cn_equipement.non_applicable) then image_tag "case_a_cocher.gif" else image_tag "case_cocher_vide.jpg" end %></td>
     <td><%= if (@exec_cn_equipement.cn_equipement.type_potentiel.type_potentiel=="Une fois") then " " else pres_perio( @exec_cn_equipement.val_potentiel_exec,@exec_cn_equipement.cn_equipement.type_potentiel.type_potentiel)  end%></td>
    <td align="center"><%=@exec_cn_equipement.commentaire %></td>
    <td><%= link_to 'modifier', edit_exec_cn_equipement_path(@exec_cn_equipement) %></td>
    <td><%= link_to 'Suppr', @exec_cn_equipement, :confirm => 'êtes vous sur?', :method => :delete %></td>
  </tr>

</table>
<%= link_to 'Modifier', edit_exec_cn_equipement_path(@exec_cn_equipement) %> |
<%= link_to 'retour à la liste ', exec_cn_equipements_path %>