<h1>Liste des types de visites d'équipements</h1>
<%= link_to "nouveau type de visite d'équipement", new_visite_protocolaire_equipement_path %>
<%type=""%>
<% @visite_protocolaire_equipements.each do |visite_protocolaire| %>
	<% if (type!=visite_protocolaire.type_equipement.type_equipement) then %>
		<% if (type!="") then %></table><% end %>
		<% type=visite_protocolaire.type_equipement.type_equipement %>
		<h3><%=visite_protocolaire.type_equipement.nom_constructeur + " " + visite_protocolaire.type_equipement.type_equipement %></h3>
		<table border=1 width="60%">
		<tr>
		    <th width="30%">Nom</th>
		    <th width="20%">type de potentiel</th>
		    <th width="20%">valeur de potentiel </th>
		    <th width="20%">tolerance </th>
		    <th> GV</th>
		    <th>VA</th>
			<th>Carte</th>
		    <th>Mod</th>
		    <th>Supp</th>
		</tr>
	<%end%>
	  <tr>
	    <td><%=link_to visite_protocolaire.Nom, visite_protocolaire %></td>
	    <td><%=visite_protocolaire.type_potentiel.type_potentiel %></td>
	    <td><%=pres_perio(visite_protocolaire.valeur_potentiel,visite_protocolaire.type_potentiel.type_potentiel)%></td>
	    <td><%=pres_perio(visite_protocolaire.tolerance,visite_protocolaire.type_potentiel.type_potentiel) %> </td>
	    <td align="center"><%= if (visite_protocolaire.gv) then image_tag "case_a_cocher.gif" else image_tag "case_cocher_vide.jpg" end %></td>
		<td align="center"><%= if (visite_protocolaire.va) then image_tag "case_a_cocher.gif" else image_tag "case_cocher_vide.jpg" end %></td>
		<td align="center"><%= if (visite_protocolaire.carte) then image_tag "case_a_cocher.gif" else image_tag "case_cocher_vide.jpg" end %></td>
	    <td><%= mod_link  edit_visite_protocolaire_equipement_path(visite_protocolaire) %></td>
	    <td><%= del_link visite_protocolaire %></td>
	  </tr>
<% end %>

</table>

<br />
